/* css styles */

/* NAVBAR */

.navbar {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
} /* Change la hauteur de la navbar */



.navbar-brand>img {
    max-height: 48px;
    width: auto;
    padding-left: 9px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 20px;
} /* Change la taille du logo */


html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

/* CAROUSEL */

.carousel-inner {
  max-width: 100%;
  position: relative;
  margin: auto;
  height: 650px;
  overflow: hidden;
}
