

.container-mission {
  overflow: hidden;
  position: relative;
  max-width: 90%;
  margin: auto;
}

.box-mission {
  float: left;
  width: 50%;
  height: 400px;
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.mission-image {
  width: auto; /* Pour maintenir le ratio des images */
  object-fit: cover; /* Pour que l'image remplisse le conteneur sans déformation */
}

.box-text {
   position: absolute;
   top: 35%;
   right: 35%;
   color: #fff;
   text-align: center;
   font-size: 2rem; /* Ajuster selon vos besoins */
   z-index: 10; /* Assurez-vous que le texte est au-dessus de l'image */
}
